<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uoregon.bbird.rps" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.uoregon.bbird.rps.FirstActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.uoregon.bbird.rps.SecondActivity"
            android:label="Computer Move"
            android:parentActivityName="edu.uoregon.bbird.rps.FirstActivity" >
        </activity>
        <activity
            android:name="edu.uoregon.bbird.rps.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="edu.uoregon.bbird.rps.FirstActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uoregon.bbird.rps.FirstActivity" />
        </activity>
    </application>

</manifest>
